<div>
  <form>
    <fieldset class="border p-2">
      <legend class="w-auto">Controle do Sistema</legend>
      <label for="">Status</label>
      <select disabled>
        <option>ATIVO</option>
      </select>
      <label for="">Usuário Responsável pela Última Alteração</label>
      <input type="text" disabled>
      <label for="">Data da ultima alteração</label>
      <input type="datetime-local" disabled>
      <label for="">Justificativa da ultima alteração</label>
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <label for="">Nova Justificativa da alteração</label>
      <textarea name="" id="" cols="30" rows="10"></textarea>

    </fieldset>
  </form>
  Status
  Usuario
  Data
  Justificativa
  Nova
</div>
