<div class="m-5">
  <form>
    <fieldset class="border p-2">
      <legend class="w-auto">{{titulo}}</legend>
      <div class="row">
        <div class="col-3 text-right mr-2 mb-3">
          <label class="col-form-label">Descrição</label>
        </div>
        <div class="col-8 mb-3">
          <input type="text" class="form-control">
        </div>
        <div class="col-3 text-right mr-2 mb-3">
          <label class="col-form-label">Sigla</label>
        </div>
        <div class="col-8 mb-3">
          <input type="text" class="form-control">
        </div>
        <div class="col-3 text-right mr-2 mb-3">
          <label class="col-form-label">Email de atendimento do Sistema</label>
        </div>
        <div class="col-8 mb-3" >
          <input type="text" class="form-control" [disabled]="false">
        </div>
        <div *ngIf="titulo == 'Dados da Consulta'" class="col-3 text-right mr-2">
          <label class="col-form-label">URL</label>
        </div>
        <div *ngIf="titulo == 'Dados da Consulta'" class="col-8">
          <input type="text" class="form-control">
        </div>
      </div>
    </fieldset>
  </form>

</div>
