<div>
  <header-system [titulo]="'Pesquisar Sistema'"></header-system>
  <form-filter-insert [titulo]="'Filtro Consulta'"></form-filter-insert>
</div>
<!--<div>-->
<!--  <form-result></form-result>-->
<!--</div>-->
<!--<div class="text-right">-->
<!--  <buttons [name]="pesquisar" [color]="'primary'"></buttons>-->
<!--  <buttons [name]="limpar" [color]="'secondary'"></buttons>-->
<!--  <buttons [name]="novo" [color]="'danger'"></buttons>-->
<!--</div>-->

<!--&lt;!&ndash;template&ndash;&gt;-->
<!--<form-filter-insert [titulo]="'Dados da Consulta'"></form-filter-insert>-->
<!--<div class="text-right">-->
<!--  <buttons [name]="'Voltar'" [color]="'primary'"></buttons>-->
<!--  <buttons [name]="'Salvar'" [color]="'success'"></buttons>-->
<!--</div>-->

